.gradle
build/*
run/*
.idea
config
crash-reports
logs
saves
usercache.json
usernamecache.json
gradle.properties
src.zip
/options.txt
ViciousCore.iml
ViciousCore.ipr
ViciousCore.iws
/build/
.project
.classpath
/src/main/.classpath
/src/main/.project
bin
.settings
ViciousCore_Client.launch
ViciousCore_Server.launch